.env

# Virtual environment 
venv/
env/

# Python and Django
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
*.sqlite3
migrations/

# Media and static files
media/
staticfiles/

# IDE files
.vscode/
.idea/

# macOS/Windows files
.DS_Store
Thumbs.db